<form>
    <div class="form-group w100">
        <div class="input-group">
            <input type="number" class="form-control col-md-4" placeholder="Сумма" required ng-model="c.currentAmount" focus-me="c.focusAmount">

            <span class="input-group-btn">
                <select class="btn btn-info category-select"
                        ng-options="category.uuid as category.displayName() for category in c.displayCategories"
                        ng-model="c.selectedCategoryId">
                </select>
            </span>
        </div>
    </div>
    <div class="form-group">
        <input type="text" placeholder="Описание, если нужно" class="form-control" ng-model="c.currentDescription">
    </div>
    <div class="form-horizontal" ng-show="c.setDate">
        <div class="form-group">
            <div class="col-xs-7">
                <input type="date" class="form-control date col-sm-4" ng-model="c.selectedDate" placeholder="Сегодня">
            </div>
            <div class="col-xs-5">
                <input type="time" class="form-control time col-sm-2" ng-model="c.selectedTime" placeholder="Сейчас">
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="{{ c.edit ? 'Сохранить' : 'Добавить' }}" ng-click="c.save()" ng-class="{disabled: c.selectedCategoryId == 'setup'}">
        <a href="javascript:void(0)" class="ml10" ng-click="c.toggleDate()" ng-show="!c.edit">Указать дату</a>
        <a href="javascript:void(0)" class="ml10" ng-click="c.deleteExpense()" ng-show="c.edit">Удалить</a>
    </div>
</form>
