.category-select {
    height: 34px;
}


.expense-description {
    color: #777;
    font-size: 75%;
}

body, table {
    font-family: 'Roboto', sans-serif;
}

.saved {
    color: chartreuse;
}

.offline {
    color: #ccc;
}

.red {
    color: crimson;
}

.table td.expense-amount {
    text-align: right;
    white-space: nowrap;
    vertical-align: middle;
}

.table td.expense-time {
    font-size: 75%;
    white-space: nowrap;
    color: #777;
    vertical-align: middle;
}

@media (min-width: 600px) {
    .container {
        width: 600px;
    }
}

#logout-form {
    display: inline-block;
}

span[ng-click] {
    cursor: pointer;
}


.ml10 {
    display: inline-block;
    margin-left: 10px;
}

.login-label {
    margin-top: 17px;
}